.custom-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 30px;
  border-radius: 15px;
      // background-color: antiquewhite;
      // background-image: linear-gradient(to bottom right, #b2e8dc, #11e6b9d9);
    //  background-image: url("../../../../assets//images/BG-01.jpg");
    //  background-size: cover;
    // background-attachment: fixed;
    // background-position: center;
}

.question-container{
  background: linear-gradient(323deg, rgba(179,242,133,1) 8%, rgba(145,237,142,1) 20%);
  width: 500px;
  padding: 20px;
}

.shadow-sm {
 box-shadow: 0 0.225rem 0.35rem rgba(0, 0, 0, 0.10) !important
}

@media (max-width: 700px) {
  /* CSS rules for Galaxy J7 max */
  .question-txt{
    width: 300px !important;
  }
  .choise-txt{
    width: 300px !important;
  }
}
.choise-txt{
  width: 500px;
  background: linear-gradient(323deg, rgba(212,251,174,1) 19%, rgba(195,241,193,1) 48%);

}

.question-txt{
  width: 500px;
}

::ng-deep .pcoded-navbar.theme-horizontal ~ .pcoded-main-container {
  margin-top: 70px !important;
}
.timeline{
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
  padding: 30px;
}
html {
  scrollbar-color: red orange;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgb(233, 231, 231);
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom right, #b2e8dc, #11e6b9d9);
}


.general-container {
  background: linear-gradient(221deg, rgb(250 250 250) 1%, rgb(191 230 190) 29%, rgba(206,241,206,1) 81%);
  width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;
}
.general-container i{
  font-size: 40px; color: green;
}

.countdown-timer-warning {

  width: fit-content;
    padding: 20px;
    background: transparent;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius:15px;
}

.minutes-warning {
  font-size: 70px;
   border: 1px solid #a5535361;
          border-radius: 15px;
          width: 50px;  color: white;
          padding: 10px;
          width: 100px;
          background: #42181833;
}
.seconds-warning {
  font-size: 70px;
   border: 1px solid #a5535361;
          border-radius: 15px;
          width: 50px;  color: white;
          padding: 10px;
          width: 100px;
          background: #42181833;
}
.tracker-warning {
       font-size: 100px;
         width: 50px;
         color: white;
         width: 50px;
         margin-bottom: 15px;
}

.countdown-warning-container {
  // background: #f5acac;
  padding: 10px;
  border-radius: 18px;

  background: linear-gradient(221deg, #fe8888 3%, #000000 29%, #393939 81%);
  box-shadow: 12px 4px 5px -5px rgba(41,30,30,0.43);
-webkit-box-shadow: 12px 4px 5px -5px rgba(41,30,30,0.43);
-moz-box-shadow: 12px 4px 5px -5px rgba(41,30,30,0.43);
}
.countdown-container{
  //background-color: #acf5ac;
  padding: 10px;
  border-radius: 18px;

  background: linear-gradient(221deg, #8dfe88 3%, #000000 29%, #393939 81%);
  box-shadow: 12px 4px 5px -5px rgba(41,30,30,0.43);
-webkit-box-shadow: 12px 4px 5px -5px rgba(41,30,30,0.43);
-moz-box-shadow: 12px 4px 5px -5px rgba(41,30,30,0.43);
}


.countdown-timer {

  width: fit-content;
    padding: 20px;
    background: transparent;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius:15px;
}

.minutes{
  font-size: 70px;
   border: 1px solid #53a58a61;
          border-radius: 15px;
          width: 50px;  color: white;
          padding: 10px;
          width: 100px;
          background: #18421e33;
}
.seconds{
  font-size: 70px;
   border: 1px solid #53a58a61;
          border-radius: 15px;
          width: 50px;  color: white;
          padding: 10px;
          width: 100px;
          background: #18421e33;
}
.tracker{
       font-size: 100px;
         width: 50px;
         color: white;
         width: 50px;
         margin-bottom: 15px;
}
.general-container {
  background: linear-gradient(221deg, rgb(250 250 250) 1%, rgb(191 230 190) 29%, rgba(206,241,206,1) 81%);
  width: 80px; height: 80px; display: flex; align-items: center; justify-content: center;
}
.general-container i{
  font-size: 40px; color: green;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  align-items: center;
  justify-content: center;
}

.timeline-container{
  margin-left: auto; padding: 40px; margin-right: 100px;
  background-color: #fff;
  border-radius: 15px;

}

.icon-timeline {
  width: 50px;
  height: 50px;
}
::ng-deep .ant-progress-bg{


 background: linear-gradient(166deg, rgba(246,159,159,1) 0%, rgba(212,251,174,1) 70%);
 height: 23px !important;
 border-radius: 0px !important;
}
::ng-deep .ant-progress-inner{
  background-color: transparent;
 // border: 1px solid #fff;
  border-radius: 0px;
}

::ng-deep .ant-drawer-body{
  background-image: url("../../../../assets//images/BG-01.jpg");
  background-size: cover;
}
