<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="">
      <nz-input-group style="width: 20%;" nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text" [(ngModel)]="seasonName" nz-input placeholder="ምዕራፍ" />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button [disabled]="!seasonName" (click)="AddSeason()" nzType="primary" nzSize="large"
          nzSearch>Add</button>
      </ng-template>

      <div style="margin-top: 10px;">
        <nz-table [nzBordered]="true" #nzTable [nzData]="listOfData">
          <thead>
            <tr>
              <th nzWidth="60px"></th>
              <th nzWidth="400px">ምዕራፍ</th>
              <th nzWidth="200px">የክፍል ብዛት</th>

            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of nzTable.data">
              <tr>
                <td [nzExpand]="expandSet.has(data.SId)" [nzShowExpand]="data.SId?true:false"
                  (nzExpandChange)="onExpandChange(data.SId, $event)"></td>
                <td>
                  <div class="editable-cell" [hidden]="_editId === data.id" (click)="startEdit(data.id)">
                    {{ data.season}}
                    
                  </div>
                 <div [hidden]="_editId !== data.id" class="d-flex flex-row">
                  <input type="text" nz-input [(ngModel)]="data.season" />
                   &nbsp;
                   <i style="font-size: 22px;"
                   nz-popconfirm
                   nzPopconfirmTitle="እርግጠኛ ነህ መለወጥ ትፈልጋለህ?"
                   (nzOnConfirm)="confirmSeason(data.SId,data)"
                   (nzOnCancel)="cancel()"
                   [nzOkText]="'እሺ'"
                   [nzCancelText]="'አልፈልግም'"
                   nzPopconfirmPlacement="top"
                    class="feather icon-save text-success"></i>
                   &nbsp;
                   <i style="font-size: 22px;" (click)="stopEdit()"  class="feather icon-circle-minus text-danger"></i>
                 </div>
                </td>
                <td>
                  <div class="editable-cell">
                    {{ data.numberOfEpisodes}}

                  </div>
                </td>

              </tr>
              <tr [nzExpand]="expandSet.has(data.SId)">
                <div style="margin:0;">
                  <button class="btn btn-primary" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><i class="feather icon-plus text-white"></i> &nbsp; Add</button>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                   <div style="width: 40%;" class="mt-3 d-flex flex-row">
                    <input  type="text" placeholder="ክፍል" nz-input [(ngModel)]="episodeName" />
                    <input class="ml-2" placeholder="የሚጀምርበት ግዜ"  type="number" nz-input [(ngModel)]="startTime" />
                    <button (click)="AddEpisodes()" class="ml-2" [disabled]="!episodeName || !startTime" nz-button nzType="default">አስገባ</button>
                   </div>
                  </div>
                <div *ngIf="episodes.length > 0" style="margin-top: 20px;">
                  <nz-timeline nzMode="custom">
                    <nz-timeline-item *ngFor="let episode of episodes;  let i= index" nzPosition="left" [nzDot]="soccerTemplate">


                     <span *ngIf="!isEditable && i == indexTracker "> <span style="font-size: 18px;">{{episode.name}} </span> &nbsp;
                      <i (click)="edit(i)" style="font-size: 18px;"
                       class="feather icon-edit text-warning fa-1x"></i> &nbsp; 
                       <i *ngIf="episode.status == 0"
                       nz-popconfirm
                      nzPopconfirmTitle="እርግጠኛ ነህ መለወጥ ትፈልጋለህ?"
                      (nzOnConfirm)="confirm(episode.id)"
                      (nzOnCancel)="cancel()"
                      [nzOkText]="'እሺ'"
                      [nzCancelText]="'አልፈልግም'"
                      nzPopconfirmPlacement="top"
                        style="font-size: 18px;" class="feather icon-check-circle text-success fa-1x"></i></span>
                     <span *ngIf="i != indexTracker "> {{episode.name}} &nbsp; <i (click)="edit(i)"  style="font-size: 18px;" class="feather icon-edit text-warning fa-1x"></i> &nbsp; <i 
                      nz-popconfirm
                      nzPopconfirmTitle="እርግጠኛ ነህ መለወጥ ትፈልጋለህ?"
                      (nzOnConfirm)="confirm(episode.id)"
                      (nzOnCancel)="cancel()"
                      [nzOkText]="'እሺ'"
                      [nzCancelText]="'አልፈልግም'"
                      nzPopconfirmPlacement="top"
                      *ngIf="episode.status == 0" style="font-size: 18px;"  class="feather icon-check-circle text-success fa-1x"></i></span>
                      <div style="width: 40%;"  *ngIf="isEditable && i == indexTracker " class="d-flex flex-row">
                        <input  type="text" placeholder="ክፍል" nz-input [(ngModel)]="episodeNameEdit" />
                        <input class="ml-2" placeholder="የሚጀምርበት ግዜ"  type="number" nz-input [(ngModel)]="startTimeEdit" />
                        <div class="d-flex flex-row ml-2">
                          <i  (click)="UpdateEpisode()" class="feather icon-save text-success fa-2x"></i>
                          <i (click)="isEditable = false" class="feather icon-minus-circle text-danger fa-2x ml-2"></i>
                        </div>
                      </div>
                      <ng-template #soccerTemplate>
                        <i *ngIf="episode.status == 1" style="font-size: 18px;" class="feather icon-target text-success"></i>
                        <i *ngIf="episode.status == 0"  style="font-size: 18px;"  class="feather icon-tag"></i>
                      </ng-template>
                    </nz-timeline-item>
                  </nz-timeline>
                 
                </div>


                </div>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>

      </div>
    </app-card>

  </div>
</div>
