<div class="row">
  <div class="col-sm-12">
    <app-card [template]="subContent">

      <div style="padding: 30px;">
       <div class="custom-card">
        <div class="row">
          <button [disabled]="count == questions.length - 1?true:false" (click)="Next()" style="margin-left: 5px;"
            nz-button nzType="default" nzShape="round"><i
              class="feather icon-chevron-right text-muted"></i></button>
          <button [disabled]="count == 0?true:false" (click)="Back()" style="margin-left: 5px;" nz-button
            nzType="default" nzShape="round"><i class="feather icon-chevron-left text-muted"></i></button>

        </div>
        <div  class="d-flex flex-column" *ngFor="let item of questions; let i=index">
          <div class="d-flex flex-column" *ngIf="count == i">
            <div class="row align-items-center">
              <span style="font-size:30px">ጥያቄ {{i+1}}</span>
              <button style="margin-left: 10px;" *ngIf="!isStarted" (click)="start(item.qts.time)" nz-button nzType="default" nzShape="round"><i
                  class="feather icon-play text-muted"></i></button>
              <span [@fade] *ngIf="isStarted">

                <nz-badge *ngIf="!timeEnds"  [nzCount]="seconds" [nzStyle]=" seconds >5? {  'backgroundColor': '#52c41a','font-size': '40px','height': '24px', 'line-height': '24px' }: {  'backgroundColor': 'red','font-size': '40px','height': '24px', 'line-height': '24px' }"></nz-badge>
                <span style="font-size: 26px; color: red;"  *ngIf="timeEnds">{{timeEnds}}</span>
              </span>
            </div>
            <div>
              <span style="font-weight: 700;">{{item.qts.question_label}}</span>
              <div style="margin-top: 20px;  margin-left: 20px; width: 400px;" class="row">
                <span style="margin: 20px; font-weight: 500;" *ngFor="let it of item.cho; let j=index">
                  {{ethiopianAlphabet[j]}}. {{it.choice_label}}</span>
              </div>
            </div>
          </div>
        </div>
       </div>



      </div>

      <ng-template #subContent>
        <div class="row ">
          <div class="row align-items-center">
            <img width="140" height="100" class="rounded-circle" src="../../../../assets/images/driver.PNG" />
            <div class="d-flex flex-column">
              <span *ngIf="active?.season && active?.episode">{{active?.season}}/{{active?.episode}}</span>
              <span style="font-size: 30px;">ጥያቄዎች</span>

            </div>

          </div>

        </div>
      </ng-template>
    </app-card>
  </div>
</div>
