<div class="row">
  <div class="col-sm-12">
    <app-card [template]="subContent">

      <div style="padding: 30px;">
        <div *ngIf="!finalResults" class="custom-card row align-items-center ">
          <div>
            <div class="row">
              <button [disabled]="count == 0?true:false" (click)="Back()" style="margin-left: 5px;" nz-button
              nzType="default" nzShape="round"><i class="feather icon-chevron-left text-muted"></i></button>

              <button [disabled]="isCountStarted?true:false" (click)="Next()"
                style="margin-left: 5px;" nz-button nzType="default" nzShape="round"><i
                  class="feather icon-chevron-right text-muted"></i></button>

            </div>
            <div class="d-flex flex-column" *ngFor="let item of questions; let i=index">
              <div class="d-flex flex-column" *ngIf="count == i">
                <div class="row align-items-center">
                  <span style="font-size:30px">ጥያቄ
                    {{i+1}}

                    {{checkQuestionStatus(item.qts.status)}}
                  </span>
                  <button style="margin-left: 10px;" *ngIf="!isCountStarted && item.qts.status != 1"
                    (click)="start(item.qts.time,item.qts.id)" nz-button nzType="default" nzShape="round"><i
                      class="feather icon-play text-muted"></i></button>
                      <input type="text" placeholder="sender" [(ngModel)]="testSender"/>
                      <input type="text" placeholder="msg" [(ngModel)]="testMsg"/>
                      <button (click)="test(item.qts.id)">Test</button>
                  <span [@fade] *ngIf="statusControllers">

                    <nz-badge *ngIf="!timeEnds" [nzCount]="seconds"
                      [nzStyle]=" seconds >5? {  'backgroundColor': '#52c41a','font-size': '40px','height': '24px', 'line-height': '24px' }: {  'backgroundColor': 'red','font-size': '40px','height': '24px', 'line-height': '24px' }"></nz-badge>
                    <span style="font-size: 26px; color: red;" *ngIf="timeEnds">{{timeEnds}}</span>

                  </span>
                  <div style="margin-left: 10px;" *ngIf="item.qts.status == 1 && !isStarted">
                    <span style="font-size: 26px; color: red;">ይህ ጥያቄ ተጠይቋል</span>
                  </div>
                </div>
                <div>
                  <span style="font-weight: 700;">{{item.qts.question_label}}</span>
                  <div style="margin-top: 20px;  margin-left: 20px; width: 400px;" class="row">
                    <span style="margin: 20px; font-weight: 500;" *ngFor="let it of item.cho;  let j=index">
                     <span [style]="item.qts.status == 1 && it.isAnswer == 1?{'color':'#1cee1c'}:''">  {{it.alphabet}}. {{it.choice_label}}</span> </span>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div *ngIf="competitors.length > 0 && isPreviouslyStarted" style="margin-left: auto; padding: 10px; margin-right: 100px;">
              <div class="d-flex flex-column ">

              <div class="row">
                <div class="row">
                  <div  style="width: 50px; height: 50px;" class="rounded-circle shadow-sm align-content-center p-2">
                    <i style="font-size: 30px; color: green;" class="feather icon-user-check"></i>
                  </div>
                  <div style="margin-left: 5px;" class="d-flex flex-column">
                    <span style="font-size: 20px;" *ngIf="correctAnswers.length">{{correctAnswers.length}}/{{competitors.length}}</span>
                    <span style="font-size: 20px;" *ngIf="!correctAnswers.length">0/{{competitors.length}}</span>
                    <span>አልፈዋል </span>
                  </div>

                </div>
                <div style="margin-left: 20px;"  class="row">
                  <div style="width: 50px; height: 50px;" class="rounded-circle shadow-sm align-content-center p-2">
                    <i style="font-size: 30px; color: red;" class="feather icon-user-x"></i>
                  </div>
                  <div style="margin-left: 5px;" class="d-flex flex-column">
                    <span style="font-size: 20px;" *ngIf="IncorrectAnswers.length">{{IncorrectAnswers.length}}/{{competitors.length}}</span>
                    <span style="font-size: 20px;" *ngIf="!IncorrectAnswers.length">0/{{competitors.length}}</span>
                    <span>አላለፉም</span>
                  </div>

                </div>


              </div>


             <div  #myDiv class="timeline" >
              <nz-timeline nzMode="custom">
                <nz-timeline-item *ngFor="let competitor of competitors" nzPosition="right" [nzColor]="competitor.answer?'green':'red'" [nzDot]="soccerTemplate">
                  <div class="row" style="margin-left: 5px">
                    <!-- <nz-avatar nzIcon="user" nzSrc="../../../../assets/images/user.png"></nz-avatar> -->

                 <div class="d-flex flex-column">
                   <span>{{competitor.phone}}</span>
                   <span>መልስ፡ {{competitor.msg}}</span>
                 </div>
                </div>
                <ng-template #soccerTemplate>
                  <i *ngIf="competitor.answer" style="font-size: 20px;" class="feather icon-user-check"></i>
                  <i *ngIf="!competitor.answer" style="font-size: 20px;" class="feather icon-user-x"></i>
                 </ng-template>
                </nz-timeline-item>

              </nz-timeline>
             </div>
            </div>





          </div>


        </div>


        <div *ngIf="finalResults">
          <nz-result
          nzStatus="success"
          nzTitle="ሁሉም ጥያቄዎች ተጠይቀዋል።"
          nzSubTitle=""
        >
          <div nz-result-extra>

            <button (click)="reset()" nz-button nzType="primary">ወደ ኋላ</button>

           <div style="margin-top: 20px;">
            <nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
              <thead>
                <tr>
                  <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of sortTable.data">
                  <td>
                    <div class="row align-items-baseline">
                     <div style="width: 30px; height: 30px; text-align: center;" class="rounded-circle shadow-sm">
                      <i class="feather icon-user"></i>
                     </div>
                      <span style="margin-left: 5px; font-size: 16px;">{{ data.phone }}</span>
                    </div>
                  </td>
                  <td >
                    <span style="font-size: 16px;"> {{ data.totalAnswered }}</span>
                   </td>
                  <td>
                    <div *ngIf="data.Rank == 1" class="row align-items-baseline">
                      <i style="color: gold; font-size: 16px;" class="feather icon-award"></i>
                      <span style="margin-left: 5px; font-size: 16px;"> {{ data.Rank }}</span>
                    </div>
                    <div *ngIf="data.Rank == 2" class="row align-items-baseline">
                      <i style="color: silver; font-size: 16px;" class="feather icon-award"></i>
                      <span style="margin-left: 5px; font-size: 16px;"> {{ data.Rank }}</span>
                    </div>
                    <div *ngIf="data.Rank == 3" class="row align-items-baseline">
                      <i style="color: brown; font-size: 16px;" class="feather icon-award"></i>
                      <span style="margin-left: 5px; font-size: 16px;"> {{ data.Rank }}</span>
                    </div>
                    <div *ngIf="data.Rank != 1 && data.Rank != 2 && data.Rank != 3" class="row align-items-baseline">
                      <i style="color: black; font-size: 16px;" class="feather icon-award"></i>
                      <span style="margin-left: 5px; font-size: 16px;"> {{ data.Rank }}</span>
                    </div>




                  </td>

                </tr>
              </tbody>
            </nz-table>
           </div>

          </div>
        </nz-result>
        </div>


      </div>

      <ng-template #subContent>
        <div class="row ">
          <div class="row align-items-center">
            <img width="80" height="80" class="rounded-circle shadow-sm" src="../../../../assets/images/qu.jpg" />
            <div style="margin-left: 10px;" class="d-flex flex-column">
              <span *ngIf="active?.season && active?.episode">{{active?.season}}/{{active?.episode}}</span>
              <span style="font-size: 30px;">የሳምንቱ ጥያቄዎች</span>

            </div>

          </div>
          <div style="margin-left: auto;">
            <button data-toggle="modal" (click)="alloverResults();myLargeModalLabel.show()" nz-button nzType="primary">ጠቅላላ ውጤት</button>
          </div>
        </div>
      </ng-template>
    </app-card>
  </div>
</div>

<app-ui-modal #myLargeModalLabel [hideFooter]="true" [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">ጠቅላላ ውጤት</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="myLargeModalLabel.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
      <thead>
        <tr>
          <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sortTable.data">
          <td>
            <div class="row align-items-baseline">
             <div style="width: 30px; height: 30px; text-align: center;" class="rounded-circle shadow-sm">
              <i class="feather icon-user"></i>
             </div>
              <span style="margin-left: 5px; font-size: 16px;">{{ data.phone }}</span>
            </div>
          </td>
          <td >
            <span style="font-size: 16px;"> {{ data.totalAnswered }}</span>
           </td>
          <td>
            <div *ngIf="data.Rank == 1" class="row align-items-baseline">
              <i style="color: gold; font-size: 16px;" class="feather icon-award"></i>
              <span style="margin-left: 5px; font-size: 16px;"> {{ data.Rank }}</span>
            </div>
            <div *ngIf="data.Rank == 2" class="row align-items-baseline">
              <i style="color: silver; font-size: 16px;" class="feather icon-award"></i>
              <span style="margin-left: 5px; font-size: 16px;"> {{ data.Rank }}</span>
            </div>
            <div *ngIf="data.Rank == 3" class="row align-items-baseline">
              <i style="color: brown; font-size: 16px;" class="feather icon-award"></i>
              <span style="margin-left: 5px; font-size: 16px;"> {{ data.Rank }}</span>
            </div>
            <div *ngIf="data.Rank != 1 && data.Rank != 2 && data.Rank != 3" class="row align-items-baseline">
              <i style="color: black; font-size: 16px;" class="feather icon-award"></i>
              <span style="margin-left: 5px; font-size: 16px;"> {{ data.Rank }}</span>
            </div>




          </td>

        </tr>
      </tbody>
    </nz-table>
  </div>
</app-ui-modal>


