<div class="row main-container" >
  <div class="col-sm-12">

    <div *ngIf="!isEpisodeCompleted && isTimerRunning == 0 "  class="d-flex flex-column align-items-center">
      <img width="250" src="assets/images/programlogo.png" />

       <div class="starter-container">
        <span  class="mt-3" style="font-size: 33px;">ውድድሩ አልተጀመረም።</span>
       </div>
       <div>
         <span style="font-size: 25px;" class="text-white">{{ time | date: 'hh:mm:ss a' }}</span>
       </div>


      <button (click)="open()" type="button" class="btn btn-success mt-2" ngbTooltip="btn-success">ውድድሩን ጀምር</button>
    </div>
    <div   class="row">
      <div *ngIf="isTimerRunning == 1 || isTimerRunning == 2" class="d-flex flex-column p-4 ml-4">
        <span *ngIf="isTimerRunning == 1" style="font-size: 40px; color:#38c238">ለውድድሩ ምዝገባ ተጀምሯል!</span>
        <span *ngIf="isTimerRunning == 2" style="font-size: 40px; color:red">ለውድድሩ ምዝገባ ተዘግቷል!</span>
        <div      [ngClass]="minutes == 0 && seconds > 10 || minutes > 0?'d-flex flex-column mt-3 countdown-container':'d-flex flex-column mt-3 countdown-warning-container'">

            <div [ngClass]="minutes == 0 && seconds > 10 || minutes > 0?'d-flex flex-row mt-3 countdown-timer':'d-flex flex-row mt-3 countdown-timer-warning'">
            <span #counter  [ngClass]="minutes == 0 && seconds > 10 ||  minutes > 0?'shadow-sm minutes':'shadow-sm minutes-warning'" ><span *ngIf="minutes < 10">0</span>{{minutes}}</span>
            <span  [ngClass]="minutes == 0 && seconds > 10 || minutes > 0? 'ml-2 tracker':'ml-2 tracker-warning' ">:</span>
            <span  #counter [ngClass]="minutes == 0 && seconds > 10 || minutes > 0?'ml-2 shadow-sm seconds':'ml-2 shadow-sm seconds-warning'"><span *ngIf="seconds < 10">0</span>{{seconds}}</span>
            </div>
             <nz-progress  [nzStatus]="minutes == 0 && seconds > 10 || minutes > 0?'success':'exception'" [nzPercent]="((minutes*60) + seconds)"  nzSize="small" [nzShowInfo]="false"></nz-progress>

            </div>


      </div>

       <div *ngIf="competitors.length > 0 " style="margin-left: 100px; margin-top: 20px;" class="row align-items-center">

        <div class="row align-items-center">
          <div   class="rounded-circle general-container shadow-sm">
            <i  class="feather icon-users"></i>
          </div>
          <div style="margin-left: 10px;" class="d-flex flex-column">
            <span style="font-size: 20px; color: rgb(227, 221, 221);">ጠቅላላ ብዛት</span>
            <span  style="font-size: 20px; font-weight: 700; color:#fff">{{competitors.length}}</span>

          </div>

        </div>
         <div style="background-color: #fff; border-radius: 15px; padding: 10px;" class="ml-5">
         <div *ngIf="competitors.length > 0 " #myDiv class=" timeline">
          <nz-timeline nzMode="custom">
             <nz-timeline-item *ngFor="let competitor of competitors" nzPosition="left" [nzDot]="soccerTemplate">
                <div class="d-flex flex-column ml-3">
                  <span style="font-weight:700">{{hide_phone_number(competitor.phone)}}</span>
                  <span style="color:#36b736">ተወዳዳሪ</span>
                </div>
            </nz-timeline-item>
          </nz-timeline>
          <ng-template #soccerTemplate>
            <i style="font-size:20px" class="feather icon-user-check text-success"></i>
          </ng-template>
        </div>
      </div>



      </div>

     </div>


    <nz-drawer [nzClosable]="isTimerRunning == 2" [nzMaskClosable]="false" [nzOffsetY]="110" [nzHeight]="500" [nzClosable]="false" [nzVisible]="visible" [nzPlacement]="placement" [nzTitle]="" (nzOnClose)="close()">

    </nz-drawer>

  </div>
</div>

<ng-template #subContent>

</ng-template>


