.custom-card{

  transition: 0.3s;
  padding: 30px;
  border-radius: 15px;
}

.shadow-sm {
 box-shadow: 0 0.225rem 0.35rem rgba(0, 0, 0, 0.10) !important
}

.starter-container{
  background: linear-gradient(166deg, rgba(143,254,151,1) 0%, rgba(183,252,123,1) 70%, rgba(194,252,114,1) 89%);
  width: 500px;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 10px;
  align-items: center;
 ;

}

::ng-deep .pcoded-navbar.theme-horizontal ~ .pcoded-main-container {
  margin-top: 70px !important;
}
.timeline{
  margin-top: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
  padding: 30px;
}
.text{

}

// @keyframes slideUp {
//   from {
//     transform: translateY(100%);
//   }

//   to {
//     transform: translateY(0);
//   }
// }

// .slides {
//   animation: slideUp 1s ease;
// }

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slides {
  animation: fadeIn 1s ease;
}



html {
  scrollbar-color: red orange;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgb(233, 231, 231);
}

::-webkit-scrollbar-track {
  background: rgba(157, 0, 0, 0.696);
}
.card-people {
  background:linear-gradient(221deg, #fafafa 1%, #fbfbfb8c 29%, #f7f7f7 81%);
   border-radius: 15px; padding: 10px;
}

.general-container {
  // background: linear-gradient(221deg, rgb(250 250 250) 1%, rgb(191 230 190) 29%, rgba(206,241,206,1) 81%);
  background: linear-gradient(221deg, #fafafa 1%, #fbfbfb8c 29%, #f7f7f7 81%);
  width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;
}
.general-container i{
  font-size: 40px; color: green;
}
::ng-deep .ant-timeline-item-head{
  background-color: #fff !important;
  width: 50px ;
  border-radius: 5px;

}
.countdown-timer-warning {

  width: fit-content;
    padding: 20px;
    background: transparent;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius:15px;
}

.minutes-warning {
  font-size: 70px;
   border: 1px solid #a5535361;
          border-radius: 15px;
          width: 50px;  color: white;
          padding: 10px;
          width: 100px;
          background: #42181833;
}
.seconds-warning {
  font-size: 70px;
   border: 1px solid #a5535361;
          border-radius: 15px;
          width: 50px;  color: white;
          padding: 10px;
          width: 100px;
          background: #42181833;
}
.tracker-warning {
       font-size: 100px;
         width: 50px;
         color: white;
         width: 50px;
         margin-bottom: 15px;
}

.countdown-warning-container {
  // background: #f5acac;
  padding: 10px;
  border-radius: 18px;
   background: linear-gradient(221deg, #7a7a7a 3%, #fefefe 29%, #c57878 81%);
  // background: linear-gradient(221deg, #e55959 3%, #7f2424 29%, #c57878 81%);
  box-shadow: 12px 4px 5px -5px rgba(41,30,30,0.43);
-webkit-box-shadow: 12px 4px 5px -5px rgba(41,30,30,0.43);
-moz-box-shadow: 12px 4px 5px -5px rgba(41,30,30,0.43);
}
.countdown-container{
  //background-color: #acf5ac;
  padding: 10px;
  border-radius: 18px;

  // background: linear-gradient(221deg, #8dfe88 3%, #000000 29%, #393939 81%);
  background: linear-gradient(221deg, #7a7a7a 3%, #fefefe 29%, #85c578 81%);
  // background: linear-gradient(221deg, #5ee559 3%, #247f47 29%, #78c579 81%);
  box-shadow: 12px 4px 5px -5px rgba(41,30,30,0.43);
-webkit-box-shadow: 12px 4px 5px -5px rgba(41,30,30,0.43);
-moz-box-shadow: 12px 4px 5px -5px rgba(41,30,30,0.43);
}


.countdown-timer {

  width: fit-content;
    padding: 20px;
    background: transparent;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius:15px;
}

.minutes{
  font-size: 70px;
   border: 1px solid #53a58a61;
          border-radius: 15px;
          width: 50px;  color: white;
          padding: 10px;
          width: 100px;
          background: #18421e33;
}
.seconds{
  font-size: 70px;
   border: 1px solid #53a58a61;
          border-radius: 15px;
          width: 50px;  color: white;
          padding: 10px;
          width: 100px;
          background: #18421e33;
}
.tracker{
       font-size: 100px;
         width: 50px;
         color: white;
         width: 50px;
         margin-bottom: 15px;
}

.main-container{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,1,15,1) 35%, rgba(90,114,119,1) 100%);
}


