/* You can add global styles to this file, and also import other style files */

/* SCSS */
@import "scss/style";
@import "webdatarocks/webdatarocks.min.css";
::ng-deep .pcoded-navbar.theme-horizontal ~ .pcoded-main-container {
  margin-top: 70px !important;
}

::ng-deep .pcoded-navbar{
  background: #dc80378c !important;
}

.main-container{
     background-image: url("./assets/images/background.jpg");
     background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
::ng-deep .pcoded-header.headerpos-fixed ~ .pcoded-main-container .page-header h5{
  color: #fff;
 }
